<!DOCTYPE html>
<html lang="zh-tw">
<head>

  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>交換技能平台</title>
  
  <!-- FAVICON -->
  <link href="img/favicon.png" rel="shortcut icon">
  <!-- PLUGINS CSS STYLE -->
  <!-- <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap-slider.css">
  <!-- Font Awesome -->
  <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Owl Carousel -->
  <link href="plugins/slick-carousel/slick/slick.css" rel="stylesheet">
  <link href="plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
  <!-- Fancy Box -->
  <link href="plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
  <link href="plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
  <!-- CUSTOM CSS -->
  <link href="css/style.css" rel="stylesheet">


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<%-partial('partial/header')%>
<body class="body-wrapper">
<section class="page-title">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<!-- Title text -->
				<h3>關於我們</h3>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="images/team/S__3350533.jpg" class="img-fluid w-100 rounded" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                <div class="about-content">
                    <h5 class="font-weight-bold">這是我們</h5>
                    <p style="font-size: 14px;">您好
                      我們是一群學習的專業技能與現實工作內容完全不相關的一群人
                      在某次飯局我們聊到各自原本是哪個科系畢業的，才驚覺大家所
                      學習的專長卻與現實工作完全不相干，在更深入的探討才發現
                      大家都是因為原本專業工作難找尋或是薪資不如預期或是各種問題
                      所以才轉換跑道，『希望透過科技與創意的力量，讓世界每個角落都因學習而快樂，實現知識技能的有效流動。』
                      為了不想要浪費所學專業，我們就突發奇想
                      想到了是否能夠用交換或是出租方式，賺取額外的收入或是兌換到所想要當技能，這樣就不會浪費之前所學的專業，也能維持現狀
                      我們秉持著學以致用的精神，在專題選擇主題時就打算用這個主題
                      去實現看看我們夢想中的藍圖</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading text-center text-capitalize font-weight-bold py-5">
                    <h2>our team</h2>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 offset-1">
                <div class="card my-3 my-lg-0">
                    <img class="card-img-top" src="images/team/IMG20180827211946.jpg" class="img-fluid w-100" alt="Card image cap">
                    <div class="card-body bg-gray text-center">
                        <h5 class="card-title">李文傑</h5>
                        <p class="card-text">Founder / CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="card my-3 my-lg-0">
                  <img class="card-img-top" src="images/team/S__9093342.jpg" class="img-fluid w-100" alt="Card image cap">
                  <div class="card-body bg-gray text-center">
                      <h5 class="card-title">林昭宏</h5>
                      <p class="card-text">Founder / CEO</p>
                  </div>
              </div>
          </div>
            <div class="col-lg-2 col-sm-6">
                <div class="card my-3 my-lg-0">
                    <img class="card-img-top" src="images/team/S__53501961.jpg" class="img-fluid w-100" alt="Card image cap">
                    <div class="card-body bg-gray text-center">
                        <h5 class="card-title">田家鴻
                        </h5>
                        <p class="card-text">Founder / CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="card my-3 my-lg-0">
                    <img class="card-img-top" src="images/team/S__3334513.jpg" class="img-fluid w-100" alt="Card image cap">
                    <div class="card-body bg-gray text-center">
                        <h5 class="card-title">李懿軒
                        </h5>
                        <p class="card-text">Founder / CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="card my-3 my-lg-0">
                    <img class="card-img-top" src="images/team/S__720906.jpg" class="img-fluid w-100" alt="Card image cap">
                    <div class="card-body bg-gray text-center">
                        <h5 class="card-title">彭昱程</h5>
                        <p class="card-text">Founder / CEO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<%-partial('partial/footer')%>
</html>