<!DOCTYPE html>
<html lang="en">
<head>

  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>技能交換平台</title>
  
  <!-- FAVICON -->
  <link href="img/favicon.png" rel="shortcut icon">
  <!-- PLUGINS CSS STYLE -->
  <!-- <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap-slider.css">
  <!-- Font Awesome -->
  <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Owl Carousel -->
  <link href="plugins/slick-carousel/slick/slick.css" rel="stylesheet">
  <link href="plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
  <!-- Fancy Box -->
  <link href="plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
  <link href="plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
  <!-- CUSTOM CSS -->
  <link href="css/style.css" rel="stylesheet">


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<%-partial('partial/header')%>
<body class="body-wrapper" style="background-color:whitesmoke">
	<section class="blog section">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
                    <%-body %>
				</div>
				<div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
					<div class="sidebar">
						<div class="widget category">
							<!--messqge-->
							<h5 class="widget-header" style="background-color:aliceblue;padding:10px;margin-bottom:5px;"><a href="memberArea">會員中心首頁</a></h5>
							<ul class="category-list">
								<li><a href="/userProfile">會員資料</a></li>
								<li><a href="/userState?id=<%=user.id_num %>">會員狀態</a></li>
							</ul>
						</div>
						<div class="widget category">
							<!--messqge-->
							<h5 class="widget-header" style="background-color:aliceblue;padding:10px;margin-bottom:5px;">任務總管</h5>
							<ul class="category-list">
								<li><a href="/AnnounceCase">發布任務狀態</a></li>
								<li><a href="/auditCase">審核的任務</a></li>
								<li><a href="/WorkCase">進行中的任務</a></li>
								<li><a href="/finalCase">完成的任務</a></li>
							</ul>
						</div>
						
						<div class="widget category">
							<!--messqge-->
							<h5 class="widget-header" style="background-color:aliceblue;padding:10px;margin-bottom:5px;"><a href="/blog?pages=message">站內信箱</a></h5>
							<ul class="category-list">
								<li><a href="/writeMail">新增信件<span class="float-right"></span></a></li>
								<li><a href="/inBox">收件匣</a></li>
								<li><a href="/outBox">寄件備份</a></li>
							</ul> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
<%-partial('partial/footer')%>
</html>

