<!DOCTYPE html>
<html lang="zh-tw">
<head>

  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>交換技能平台</title>
  
  <!-- FAVICON -->
  <link href="img/favicon.png" rel="shortcut icon">
  <!-- PLUGINS CSS STYLE -->
  <!-- <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap-slider.css">
  <!-- Font Awesome -->
  <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Owl Carousel -->
  <link href="plugins/slick-carousel/slick/slick.css" rel="stylesheet">
  <link href="plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
  <!-- Fancy Box -->
  <link href="plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
  <link href="plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
  <!-- CUSTOM CSS -->
  <link href="css/style.css" rel="stylesheet">


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body class="body-wrapper">
  <%-partial('partial/header')%>
<section class="page-title">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<!-- Title text -->
				<h3>隱私權及條款</h3>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto p-0">
               <div class="terms-condition-content">
                <h3 class="py-3">本站服務隱私權及條款</h3>
                <p>請仔細閱讀以下內容，以了解我們將如何收集和使用與服務相關的個人數據。如果您不理解本政策，或不接受其中的任何部分，則不應使用本服務。該服務可能包括並鏈接到第三方提供的功能和服務（例如 Facebook Messenger、WhatsApp 和 iMessenger 等社交應用程序）。如果您使用這些功能和服務，請理解運營它們的第三方可能會從您那裡收集信息，這些信息將根據他們自己的隱私政策和使用條款進行使用，這些政策和使用條款可能與我們的不同。 </p>
                <p>我們不對這些政策或可能通過這些網站或服務收集的任何個人數據承擔任何責任或義務。您應始終仔細閱讀您訪問的任何功能或服務的隱私政策，以了解具體的隱私和信息使用慣例。我們可能從您那裡收集的信息以及我們如何使用這些信息。 </p>
                <h5 class="py-3">我們可能會通過服務收集和處理有關您的以下數據:</h5>
                <p><span class="font-weight-bold text-dark">• 您提供給我們的個人信息:</span>我們接收並存儲您在服務中輸入或以任何其他方式提供給我們的任何信息，例如，當您下載服務時，在服務中設置個人資料，或訪問、上傳或從服務下載材料時，包括在第三方平台、服務或社交網絡（例如 Facebook）上訪問該材料時，該社交網絡或第三方可能會向我們提供您同意該社交網絡或其他第三方平台可以提供給我們的信息通過社交網絡或第三方平台基於您在第三方社交網絡或平台上的設置的應用程序編程接口 (API)。收集的個人信息類型可能包括您的電子郵件地址、個人資料圖片、用戶名和密碼。我們使用此信息在使用服務時驗證您作為用戶的身份，向您提供服務，包括管理您的用戶帳戶，通知您服務的更改或我們的條款和條件或本隱私政策的任何更改，管理我們的業務，包括財務報告，開發新產品和服務，通過電子郵件向您發送時事通訊以營銷和宣傳我們的產品和服務，遵守適用法律、法院命令和政府執法機構的要求，進行研究和分析目的，包括提高服務質量並確保以最有效的方式為您和您的設備提供服務。通信詳情:如果您與我們聯繫，我們可能會保留該通信的記錄。</p>
                <p><span class="font-weight-bold text-dark">• 我們自動收集的個人信息:</span> 當您使用服務時，我們會自動收集有關您用於訪問服務的設備以及您對服務的使用情況的信息。我們收集的信息可能包括（如果有）您使用的設備類型和型號、設備的唯一設備標識符、操作系統、瀏覽器類型、語言選項、當前時區和移動網絡信息，以便您使用服務，系統管理目的，並向我們的業務合作夥伴報告匯總的匿名信息。如果您不希望向我們信任的業務合作夥伴提供匯總的匿名信息，請在下面的 cookie 部分了解如何選擇退出我們對分析 cookie 的使用。我們使用這些信息來管理服務和我們的內部運營，包括故障排除、數據分析、測試、研究、統計和調查目的，以改進服務、服務的呈現方式及其安全性。請注意，本服務需要訪問您設備的照片存儲應用程序才能存儲完成的視頻，但我們不會從您的設備照片存儲應用程序中獲取任何信息、視頻、照片或其他內容。 </p>
                <p><span class="font-weight-bold text-dark">• 日誌信息:</span> 當您使用服務時，我們可能會自動收集以下信息並將其存儲在服務器日誌中:互聯網協議 (IP) 地址、互聯網服務提供商 (ISP)、點擊流數據、瀏覽器類型和語言、查看和退出頁面以及日期或時間戳。我們使用這些信息與服務進行通信並更好地了解我們用戶的操作系統、系統管理和審計服務的使用。我們不會使用這些數據來識別任何個人的姓名、地址或其他個人詳細信息。 </p>
               </div>
            </div>
        </div>
    </div>
</section>
</body>
<%-partial('partial/footer')%>
</html>