<body class="body-wrapper">
<section class="section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6 my-lg-0 my-3">
				<div class="counter-content text-center bg-light py-4 rounded">
					<i class="fa fa-smile-o d-block"></i>
					<span class="counter my-2 d-block" data-count="000">0</span>
					<h5>顧客滿意度</h5>
					</script>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 my-lg-0 my-3">
				<div class="counter-content text-center bg-light py-4 rounded">
					<i class="fa fa-user-o d-block"></i>
					<span class="counter my-2 d-block" data-count="000">0</span>
					<h5>會員人數</h5>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 my-lg-0 my-3">
				<div class="counter-content text-center bg-light py-4 rounded">
					<i class="fa fa-bookmark-o d-block"></i>
					<span class="counter my-2 d-block" data-count="4">0</span>
					<h5>已刊登的技能</h5>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 my-lg-0 my-3">
				<div class="counter-content text-center bg-light py-4 rounded">
					<i class="fa fa-eye d-block"></i>
					<span class="counter my-2 d-block" data-count="158">0</span>
					<h5>網站搜尋人數</h5>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="call-to-action overly bg-3 section-sm">
	<!-- Container Start -->
	<div class="container">
		<div class="row justify-content-md-center text-center">
			<div class="col-md-8">
				<div class="content-holder">
					<h2>加入會員，經營屬於自己的事業</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<!-- JAVASCRIPTS -->
<script src="plugins/jQuery/jquery.min.js"></script>
<script src="plugins/bootstrap/js/popper.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap-slider.js"></script>
  <!-- tether js -->
<script src="plugins/tether/js/tether.min.js"></script>
<script src="plugins/raty/jquery.raty-fa.js"></script>
<script src="plugins/slick-carousel/slick/slick.min.js"></script>
<script src="plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<script src="plugins/fancybox/jquery.fancybox.pack.js"></script>
<script src="plugins/smoothscroll/SmoothScroll.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
<script src="plugins/google-map/gmap.js"></script>
<script src="js/script.js"></script>

</body>